{% extends 'layout.html' %}

{% block content %}
    <main role="main">
        <div class="note" id="note">
            {{ html }}
        </div>
    </main>

    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [["$","$"]],
                displayMath: [['$$','$$']],
                processEscapes: true
            }
        });
    </script>
{% endblock %}
