<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    {% block styles %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    <script src="main.js"></script>
    <script>
    MathJax = {
      tex: {
        inlineMath: [['¦', '¦']],
        displayMath: [['$$','$$']]
      }
    };
    </script>
    <script src="mathjax/tex-chtml.js" id="MathJax-script" async></script>

    {% if preview %}
    <script>
        // Connect to Web Socket
        var ws = new WebSocket("ws://localhost:9001/");
        ws.onmessage = function(e) {
            if (e.data === 'update') {
                window.location.reload();
            }
        };
    </script>
    {% endif %}
</body>
</html>
