{% extends 'layout.html' %}

{% block styles %}
<style>
body {
    overflow: hidden;
    font-size: 1.5em;
}
</style>
{% endblock %}

{% block content %}
    <main role="main">
        <div class="note" id="note">
            {{ html }}
        </div>
        <div id="presentation">
        </div>
    </main>

    <script type="text/javascript">
        var static = false,
            nodes = document.getElementById('note').childNodes,
            out = document.getElementById('presentation'),
            els = [[]],
            curr_slide = window.location.hash ? parseInt(window.location.hash.substr(1)) : 0;

        // check if this should show presenter notes
        if (window.location.href.includes('?notes')) {
            var comments = document.getElementsByClassName('comment');
            for (var i=0; i < comments.length; i++) {
                comments[i].style.display = 'block';
            }
        }

        // setup backgrounds
        var backgrounds = document.getElementsByClassName('background');
        for (var i=0; i < backgrounds.length; i++) {
            if (backgrounds[i].src !== undefined) {
                backgrounds[i].style.backgroundImage = 'url(' + backgrounds[i].src + ')';
                backgrounds[i].src = '';
            }
        }

        function build_slide(elms) {
            var slide = document.createElement('div');
            slide.className = 'slide';

            for(var j=0; j<elms.length; j++) {
                slide.appendChild(elms[j]);
            }

            if (slide.getElementsByClassName('background').length > 0) {
                slide.className += ' has-background';
            }
            out.appendChild(slide);
            return slide;
        }

        function scale_slides() {
            var slides = document.getElementsByClassName('slide'),
                win_width = window.innerWidth,
                win_height = window.innerHeight;
            for (var i=0; i<slides.length; i++) {
                var slide = slides[i],
                    slide_width = slide.scrollWidth,
                    slide_height = slide.scrollHeight,
                    scale = Math.min(win_width/slide_width, win_height/slide_height);
                if (scale < 1) {
                    var scaled_width = slide_width * scale,
                        offset = win_width/2 - scaled_width/2;
                    slide.style.transform       = 'translate(' + offset + 'px, 0) scale(' + scale + ')';
                    slide.style.transformOrigin = '0 0';

                    // compensate background scaling
                    var backgrounds = slide.getElementsByClassName('background');
                    for (var j=0; j < backgrounds.length; j++) {
                        backgrounds[j].style.transform = 'scale(' + 1/scale + ')';
                    }
                }
            }
        }


        // Build slides out of the note html, interpreting `hr` as a slide break.
        for (var i=0; i<nodes.length; i++) {
            if (nodes[i].nodeName.toLowerCase() == 'hr') {
                els.push([]);
            } else {
                els[els.length - 1].push(nodes[i]);
            }
        }
        for (var i=0; i<els.length; i++) {
            var slide = build_slide(els[i]);
            slide.id = 'slide' + i;
        }
        document.getElementById('note').style.display = 'none';

        var slides = document.getElementsByClassName('slide');

        function show_slide(i) {
            for (var j=0; j<slides.length; j++) {
                slides[j].style.visibility = 'hidden';
                var videos = slides[j].getElementsByTagName('video');
                for (var k=0; k<videos.length; k++) {
                    videos[k].pause();
                    videos[k].currentTime = 0;
                }
            }
            slides[i].style.visibility = 'visible';
            var videos = slides[i].getElementsByTagName('video');
            for (var j=0; j<videos.length; j++) {
                videos[j].play();
            }
            window.location.hash = i;
        }

        function make_static() {
            for (var j=0; j<slides.length; j++) {
                slides[j].style.visibility = 'visible';
                slides[j].style.position = 'relative';
                slides[j].style.transform = '';
            }
            document.body.style.overflow = 'auto';
        }

        window.onload = function() {
            scale_slides();
            show_slide(curr_slide);
            if (static) {
                make_static();
            }
        };

        // window.onload doesn't always fire
        // this is a backup
        setTimeout(function() {
            scale_slides();
            show_slide(curr_slide);
            if (static) {
                make_static();
            }
        }, 5000);

        window.onresize = scale_slides;

        // used to update other windows in the slideshow
        // for this to work, you can't open as `file://`
        // you need to run it off a local server
        function broadcast_slide(idx) {
            localStorage.setItem('slide', idx);
        }

        if (!static) {
            window.addEventListener('storage', function(ev) {
                if (ev.key === 'slide') {
                    var idx = parseInt(ev.newValue);
                    curr_slide = idx;
                    show_slide(curr_slide);
                }
            }, false);

            // Key navigation.
            document.onkeydown = function(e) {
                e = e || window.event;
                switch(e.which || e.keyCode) {
                    case 40: // down
                    case 78: // n
                        if (curr_slide < slides.length - 1) {
                            curr_slide += 1;
                            show_slide(curr_slide);
                            broadcast_slide(curr_slide);
                        }
                        e.preventDefault();
                        break;
                    case 38: // up
                    case 66: // b
                        if (curr_slide > 0) {
                            curr_slide -= 1;
                            show_slide(curr_slide);
                            broadcast_slide(curr_slide);
                        }
                        e.preventDefault();
                        break;
                }
            }
        }
    </script>

    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [["$","$"]],
                displayMath: [['$$','$$']],
                processEscapes: true
            }
        });
    </script>
{% endblock %}

