{% extends 'layout.html' %}

{% block styles %}
<style>
html, body {
    overflow: hidden;
    font-size: 1.5em;
}
</style>
{% endblock %}

{% block content %}
    <main role="main">
        <div class="note" id="note">
            {{ html }}
        </div>
        <div id="presentation">
        </div>
    </main>

    <script type="text/javascript">
        var nodes = document.getElementById('note').childNodes,
            out = document.getElementById('presentation'),
            els = [[]],
            curr_slide = window.location.hash ? parseInt(window.location.hash.substr(1)) : 0;

        // setup backgrounds
        var backgrounds = document.getElementsByClassName('background');
        for (var i=0; i < backgrounds.length; i++) {
            if (backgrounds[i].src !== undefined) {
                backgrounds[i].style.backgroundImage = 'url(' + backgrounds[i].src + ')';
                backgrounds[i].src = '';
            }
        }

        function build_slide(elms) {
            var slide = document.createElement('div');
            slide.className = 'slide';

            for(var j=0; j<elms.length; j++) {
                slide.appendChild(elms[j]);
            }
            out.appendChild(slide);
            return slide;
        }

        function scale_slides() {
            var slides = document.getElementsByClassName('slide'),
                win_width = window.innerWidth,
                win_height = window.innerHeight;
            for (var i=0; i<slides.length; i++) {
                var slide = slides[i],
                    slide_width = slide.scrollWidth,
                    slide_height = slide.scrollHeight,
                    scale = Math.min(win_width/slide_width, win_height/slide_height);
                if (scale < 1) {
                    var scaled_width = slide_width * scale,
                        offset = win_width/2 - scaled_width/2;
                    slide.style.transform       = 'translate(' + offset + 'px, 0) scale(' + scale + ')';
                    slide.style.transformOrigin = '0 0';
                }
            }
        }


        // Build slides out of the note html, interpreting `hr` as a slide break.
        for (var i=0; i<nodes.length; i++) {
            if (nodes[i].nodeName.toLowerCase() == 'hr') {
                els.push([]);
            } else {
                els[els.length - 1].push(nodes[i]);
            }
        }
        for (var i=0; i<els.length; i++) {
            var slide = build_slide(els[i]);
            slide.id = 'slide' + i;
        }
        document.getElementById('note').style.display = 'none';

        var slides = document.getElementsByClassName('slide');

        function show_slide(i) {
            for (var j=0; j<slides.length; j++) {
                slides[j].style.visibility = 'hidden';
            }
            slides[i].style.visibility = 'visible';
            var videos = slides[i].getElementsByTagName('video');
            for (var j=0; j<videos.length; j++) {
                videos[j].play();
            }
            window.location.hash = i;
        }
        window.onload = function() {
            scale_slides();
            show_slide(curr_slide);
        };
        window.onresize = scale_slides;

        // Key navigation.
        document.onkeydown = function(e) {
            e = e || window.event;
            switch(e.which || e.keyCode) {
                case 40: // down
                    if (curr_slide < slides.length - 1) {
                        curr_slide += 1;
                        show_slide(curr_slide);
                    }
                    e.preventDefault();
                    break;
                case 38: // up
                    if (curr_slide > 0) {
                        curr_slide -= 1;
                        show_slide(curr_slide);
                    }
                    e.preventDefault();
                    break;
            }
        }
    </script>

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [["$","$"]],
                displayMath: [['$$','$$']],
                processEscapes: true
            }
        });
        MathJax.Hub.Startup.onload();
    </script>
{% endblock %}

