@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --background: #181818;
    --accent-color: #4b80fd;
    --accent-hover-color: #FFC106;
    --media-border-color: #333;
    --code-background: #111;
    --code-color: #fff;
    --code-comment: #738191;
    --code-keyword: #28c55e;
    --code-variable: #fed763;
    --code-string: #7070e1;
    --code-number: #d44;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #111;
    --background: #f0f0f0;
    --accent-color: #005AFF;
    --accent-hover-color: #eb1818;
    --media-border-color: #ccc;
    --code-background: #e6e6e6;
    --code-color: #00193a;
    --code-comment: #738191;
    --code-keyword: #06b231;
    --code-variable: #ed6514;
    --code-string: #7070e1;
    --code-number: #f82e2e;
  }
}

:root {
  --table-color: #111;
  --table-border-color: #ccc;
  --table-header-color: #dcdcdc;
  --table-odd-color: #e8e8e8;
  --table-even-color: #f4f4f4;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Liberation Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
  color: var(--color);
  background: var(--background);;
}

a {
  color: var(--accent-color);
}
a:hover {
  color: var(--accent-hover-color);
}

h2 {
  margin-top: 2em;
}
main {
  margin: 0 auto;
}
figure, svg {
  margin: 2em auto;
  display: block;
}
audio {
  border: 1px solid #333;
  width: 100%;
}
video {
  margin: -1em auto 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100vh;
}
img {
  max-width: 100%;
  margin: 0 auto;
  display: inline;
  border: 1px solid var(--media-border-color);
}
figure > img, figure > a img {
  display: block;
  margin: 0 auto;
}
li figure {
  display: inline-block;
}
li figure > img {
  display: inline-block;
  max-height: 300px;
}
.slide {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100%;
}
.slide > h1:first-child,
.slide > h2:first-child,
.slide > h3:first-child {
  margin-top: 0;
}
.slide-body {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  height: 100vh;
  width: 100%;
  /* TODO */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.slide-content {
  padding: 2em;
}

.comment {
  display: none;
}

#notes {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em;
  font-size: 0.85em;
  height: 100%;
  min-width: 320px;
  width: 50%;
  overflow-y: scroll;
  z-index: 2;
  background: rgba(0,0,0,0.8);
  color: #fff;
}
#notes blockquote,
#notes a {
  color: #fff;
}

#index {
  max-width: 320px;
}
#index ul {
  padding: 0;
}

#browse-note {
  display: flex;
}
#browse-note #note {
  flex: 1;
}
#browse-note-index {
  height: 100vh;
  border-right: 1px solid #333;
  top: 0;
  position: sticky;
  align-self: flex-start
}
#browse-note-index ul {
  padding: 0 1em;
  list-style-type: none;
}
#browse-note-index a {
  text-decoration: none;
}
#browse-note-index a.current {
  color: var(--accent-hover-color);
}

#meta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.5em;
  padding: 0.5em;
  z-index: 10;
  color: #fff;
  background: rgba(0,0,0,0.8);
}
#counter {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 0.5em;
  padding: 0.5em;
  z-index: 10;
  color: #aaa;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

blockquote {
  margin: 0;
  padding: 0 2em;
  border-left: 6px solid #333;
}
mark {
  background: #95FF8E;
}
hr {
  border: none;
  background: var(--hr-color);
  height: 1px;
  margin: 2em 0;
}
.note {
  padding: 0 1.5em;
}
.note > * {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin: 0 auto;
  border: 4px solid #282828;
  width: 100%;
  min-height: 480px;
}

.footnote-ref, .footnote-ref:visited {
  margin-left: 2px;
  color: #888;
  text-decoration: none;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  border: none;
  pointer-events: none;

  /* hack to get rid of empty img borders */
  width: 0;
  height: 0;
  padding: 50vh 50vw;
}

.background-caption {
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,0.8);
  max-width: 50%;
  bottom: 1em;
  left: 1em;
  z-index: 2;
  padding: 0.5em;
}

.background-video {
  position: fixed;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

figcaption {
  text-align: center;
}

/* can't do 100% w/h b/c then
 * we have no where to click in the parent */
iframe.fullscreen {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 5vw;
  right: 5vw;
  bottom: 5vh;
}
img.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center center;
}

.has-text {
  z-index: -1;
}
.has-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 2px solid #c0c0c0;
  margin: 1em auto;
}
td, th {
  border-left: 2px solid #c0c0c0;
  border-width: 0 0 0 2px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
tr:nth-child(2n-1) td {
  background-color: #e9e9e9;
}

.gallery {
  columns: 3 auto;
  max-width: none;
  margin: 2em auto;
}
.gallery br {
  display: none;
}
.gallery p {
  margin: 0;
}
.gallery figure {
  break-inside: avoid;
  margin-top: 0;
  margin-bottom: 2em;
}

/*
  Syntax highlighting
*/
.highlight {
  display: block;
  overflow-x: auto;
  padding: 1em 1.5em;
  background: var(--code-background);
  border: 1px solid var(--media-border-color);
  color: var(--code-color);
  font-size: 0.8em;
}

.highlight [class^="c"] {
  color: var(--code-comment);
}

.highlight [class^="k"] /* keyword */
{
  color: var(--code-keyword);
}

.highlight [class^="n"], /* name */
.highlight [class^="v"] /* variable */
{
  color: var(--code-variable);
}

.highlight .n,  /* name */
.highlight .nx, /* name */
.highlight .p  /* punctuation */
{
  color: var(--code-color);
}

.highlight [class^="m"] /* number */
{
  color: var(--code-number);
}

.highlight [class^="s"] /* string */
{
  color: var(--code-string);
}

@media only screen and (max-width: 980px) {
  .gallery {
    columns: 2 auto;
  }
}

@media only screen and (max-width: 720px) {
  html, body {
    padding: 0;
  }
  .slide-content {
    padding: 0;
  }
  .gallery {
    columns: 1 auto;
  }
}

@media print {
  * {
    background: transparent !important;
    /* color: black !important; */
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    font-size: 22pt;
  }
  main, .note {
    max-width: none;
  }
  sup {
    font-size: 0.75em;
  }
}
